Repository kennethaasan/tournament: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, terraform-fmt, tflint

typecheck:
  name: typescript --noEmit
  entry: npm run tsc
  language: system
  pass_filenames: false

terraform-fmt:
  name: terraform fmt
  entry: terraform fmt -check -recursive
  language: system
  pass_filenames: false

tflint:
  name: tflint
  entry: tflint --minimum-failure-severity=error
  language: system
  pass_filenames: false

chore: localize brand name
  src/app/layout.tsx
  src/app/page.tsx
  src/ui/components/dashboard-header.tsx
  src/ui/components/dashboard-sidebar.tsx
  src/ui/components/site-navbar.tsx
Due: typecheck

chore: simplify dashboard sidebar
  src/ui/components/dashboard-sidebar.tsx
Due: typecheck

fix: keep dashboard sidebar below navbar
  src/ui/components/dashboard-sidebar.tsx
Due: typecheck

feat: align site navbar layout
  src/app/(dashboard)/layout.tsx
  src/ui/components/site-navbar.tsx
Due: typecheck

fix: allow local auth for browser api calls
  src/app/api/notifications/route.ts
  src/lib/api/client.ts
Due: typecheck

feat: link admin overview to competition detail
  src/app/(dashboard)/dashboard/admin/overview/page.tsx
  src/app/(dashboard)/dashboard/competitions/[competitionId]/page.tsx
Due: typecheck

chore: redirect organizer signup to home
  src/app/(public)/auth/organizer-signup/page.tsx
  src/app/page.tsx
  src/ui/components/site-navbar.tsx
Due: typecheck

feat: add sign-out action to navbar
  src/app/api/auth/[...better-auth]/route.ts
  src/ui/components/sign-out-button.tsx
  src/ui/components/site-navbar.tsx
Due: typecheck

chore: remove redundant navbar link
  src/ui/components/site-navbar.tsx
Due: typecheck

chore: remove demo scoreboard nav link
  src/ui/components/site-navbar.tsx
Due: typecheck

fix: sync navbar auth action with session
  src/ui/components/auth-action.tsx
  src/ui/components/site-navbar.tsx
Due: typecheck

fix: infer auth from session cookie
  src/ui/components/auth-action.tsx
  src/ui/components/site-navbar.tsx
Due: typecheck

fix: extend better-auth secret example
  .env.example
Due: none

test: align onboarding e2e with landing page
  e2e/specs/organizer-onboarding.spec.ts
Due: typecheck

feat: refresh admin layout with sidebar (#20)
  .env.example
  e2e/specs/organizer-onboarding.spec.ts
  src/app/(dashboard)/dashboard/admin/overview/page.tsx
  src/app/(dashboard)/dashboard/competitions/[competitionId]/editions/new/section.tsx
  src/app/(dashboard)/dashboard/competitions/[competitionId]/page.tsx
  src/app/(dashboard)/dashboard/competitions/new/page.tsx
  src/app/(dashboard)/dashboard/editions/[editionId]/schedule/schedule-dashboard.tsx
  src/app/(dashboard)/dashboard/editions/[editionId]/scoreboard/scoreboard-control.tsx
  src/app/(dashboard)/dashboard/invitations/invitations-panel.tsx
  src/app/(dashboard)/dashboard/notifications/notifications-panel.tsx
  src/app/(dashboard)/dashboard/notifications/page.tsx
  src/app/(dashboard)/dashboard/teams/[teamId]/entries/entries-manager.tsx
  src/app/(dashboard)/dashboard/teams/[teamId]/roster/roster-manager.tsx
  src/app/(dashboard)/layout.tsx
  src/app/(public)/auth/invitations/[token]/accept-invitation-panel.tsx
  src/app/(public)/auth/organizer-signup/page.tsx
  src/app/(public)/layout.tsx
  src/app/(scoreboard)/competitions/[competitionSlug]/[editionSlug]/scoreboard/page.tsx
  src/app/(scoreboard)/layout.tsx
  src/app/api/auth/[...better-auth]/route.ts
  src/app/api/notifications/route.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/lib/api/client.ts
  src/server/auth/index.ts
  src/ui/components/auth-action.tsx
  src/ui/components/dashboard-header.tsx
  src/ui/components/dashboard-sidebar.tsx
  src/ui/components/navigation-links.tsx
  src/ui/components/scoreboard/theme-form.tsx
  src/ui/components/sign-out-button.tsx
  src/ui/components/site-navbar.tsx
Due: typecheck

fix: set explicit better-auth base URL
  .env.example
  src/app/api/auth/[...better-auth]/route.ts
  src/env.ts
  src/server/auth/index.ts
Due: typecheck

fix: force dynamic competition routes
  src/app/(dashboard)/dashboard/competitions/[competitionId]/editions/new/page.tsx
  src/app/(dashboard)/dashboard/competitions/[competitionId]/page.tsx
Due: typecheck

fix: force dynamic competition routes (#22)
  src/app/(dashboard)/dashboard/competitions/[competitionId]/editions/new/page.tsx
  src/app/(dashboard)/dashboard/competitions/[competitionId]/page.tsx
Due: typecheck

docs: include vanvikil origin in auth whitelist
  .env.example
Due: none

docs: include vanvikil origin in auth whitelist (#23)
  .env.example
Due: none

chore: add auth envs to terraform
  iac/locals.tf
  iac/main.tf
  iac/variables.tf
Due: terraform-fmt, tflint

chore: format terraform locals
  iac/locals.tf
Due: terraform-fmt, tflint

chore: wire auth env vars in terraform (#24)
  iac/locals.tf
  iac/main.tf
  iac/variables.tf
Due: terraform-fmt, tflint

fix: set explicit better-auth base URL (#21)
  .env.example
  src/app/api/auth/[...better-auth]/route.ts
  src/env.ts
  src/server/auth/index.ts
Due: typecheck

feat: add auth UI and harden AWS infrastructure
  .env.example
  README.md
  iac/main.tf
  iac/variables.tf
  src/app/(dashboard)/layout.tsx
  src/app/(public)/auth/login/login-form.tsx
  src/app/(public)/auth/login/page.tsx
  src/app/(public)/auth/signup/page.tsx
  src/app/(public)/auth/signup/signup-form.tsx
  src/lib/auth-client.ts
  src/modules/teams/service.ts
  src/server/api/access.ts
  src/ui/components/auth-action.tsx
Due: typecheck, terraform-fmt, tflint

chore: add utility scripts and API helpers
  scripts/debug-session.ts
  src/app/api/health/route.ts
  src/server/api/rate-limit.ts
  src/server/api/responses.ts
  src/test/factories.ts
Due: typecheck

chore: remove debug session script
  scripts/debug-session.ts
Due: typecheck

fix: enable email/password auth, fix open redirect, and correct Terraform SES config
  iac/main.tf
  scripts/seed.ts
  src/app/(public)/auth/login/login-form.tsx
  src/server/auth/index.ts
Due: typecheck, terraform-fmt, tflint

fix: configure UUID v7 for better-auth sessions and fix sign-out flow
  src/server/auth/index.ts
  src/ui/components/sign-out-button.tsx
Due: typecheck

feat: add auth UI with email/password login and harden AWS infrastructure (#25)
  .env.example
  README.md
  iac/main.tf
  iac/variables.tf
  scripts/seed.ts
  src/app/(dashboard)/layout.tsx
  src/app/(public)/auth/login/login-form.tsx
  src/app/(public)/auth/login/page.tsx
  src/app/(public)/auth/signup/page.tsx
  src/app/(public)/auth/signup/signup-form.tsx
  src/app/api/health/route.ts
  src/lib/auth-client.ts
  src/modules/teams/service.ts
  src/server/api/access.ts
  src/server/api/rate-limit.ts
  src/server/api/responses.ts
  src/server/auth/index.ts
  src/test/factories.ts
  src/ui/components/auth-action.tsx
  src/ui/components/sign-out-button.tsx
Due: typecheck, terraform-fmt, tflint

test: add comprehensive E2E and unit tests for auth flows
  e2e/fixtures/auth.fixture.ts
  e2e/specs/auth/auth.spec.ts
  e2e/specs/dashboard/access-control.spec.ts
  src/app/(public)/auth/login/login-form.tsx
  src/lib/utils/__tests__/safe-redirect.test.ts
  src/lib/utils/safe-redirect.ts
Due: typecheck

test: add comprehensive E2E and unit tests for auth flows (#26)
  e2e/fixtures/auth.fixture.ts
  e2e/specs/auth/auth.spec.ts
  e2e/specs/dashboard/access-control.spec.ts
  src/app/(public)/auth/login/login-form.tsx
  src/lib/utils/__tests__/safe-redirect.test.ts
  src/lib/utils/safe-redirect.ts
Due: typecheck

fix: gate reliability infra to unblock deploy
  iac/main.tf
  iac/variables.tf
Due: terraform-fmt, tflint

fix: align alarm topics with regional CloudFront metrics
  iac/main.tf
  iac/variables.tf
Due: terraform-fmt, tflint

fix: gate reliability infra to unblock deploy (#27)
  iac/main.tf
  iac/variables.tf
Due: terraform-fmt, tflint

fix: disable Lambda reserved concurrency to stay within account limits
  iac/main.tf
  iac/variables.tf
Due: terraform-fmt, tflint

refactor: replace pino with AWS Lambda Powertools logger
  .github/workflows/ci-cd-pipeline.yml
  .nvmrc
  AGENTS.md
  iac/variables.tf
  package-lock.json
  package.json
  src/env.ts
  src/lib/logger/pino.ts
  src/lib/logger/powertools.ts
  src/server/api/handler.ts
  src/server/auth/index.ts
  src/server/email/action-emails.ts
  src/server/email/invitations.ts
  src/server/email/send-email.ts
  src/server/observability/events.ts
Due: typecheck, terraform-fmt, tflint

fix: restore pa11y packages for accessibility tests
  package-lock.json
  package.json
Due: none

refactor: replace pino with AWS Lambda Powertools logger (#28)
  .github/workflows/ci-cd-pipeline.yml
  .nvmrc
  AGENTS.md
  iac/variables.tf
  package-lock.json
  package.json
  src/env.ts
  src/lib/logger/pino.ts
  src/lib/logger/powertools.ts
  src/server/api/handler.ts
  src/server/auth/index.ts
  src/server/email/action-emails.ts
  src/server/email/invitations.ts
  src/server/email/send-email.ts
  src/server/observability/events.ts
Due: typecheck, terraform-fmt, tflint

feat: add AWS Lambda Powertools Metrics for CloudWatch observability
  .env.example
  iac/main.tf
  package-lock.json
  package.json
  src/env.ts
  src/lib/logger/powertools.ts
  src/server/api/handler.ts
Due: typecheck, terraform-fmt, tflint

Path conditions:
  typecheck: any of: \.(ts|tsx)$
  terraform-fmt: any of: ^iac/.*\.tf$
  tflint: any of: ^iac/
