Repository kennethaasan/tournament: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, terraform-fmt, tflint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: no-commit-to-branch
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-toml
  - repo: local
    hooks:
      - id: biome-check
        name: biome check
        entry: npm run lint
        language: system
        pass_filenames: false
      - id: typecheck
        name: typescript --noEmit
        entry: npm run tsc
        language: system
        pass_filenames: false
        files: "\\.(ts|tsx)$"
      - id: terraform-fmt
        name: terraform fmt
        entry: terraform fmt -check -recursive
        language: system
        pass_filenames: false
        files: "^iac/.*\\.tf$"
      - id: tflint
        name: tflint
        entry: tflint --minimum-failure-severity=error
        language: system
        pass_filenames: false
        files: "^iac/"

fix: enable light mode support and fix global styles
  src/app/globals.css
Due: none

fix: await params in ScoreboardPage for Next.js 15+ compatibility
  src/app/(public)/competitions/[competitionSlug]/[editionSlug]/scoreboard/page.tsx
Due: typecheck

fix: remove /api suffix from api client base URL
  src/lib/api/client.ts
Due: typecheck

human review
  src/app/globals.css
Due: none

human review
  .pa11yci.json
Due: none

human review
  .github/workflows/ci-cd-pipeline.yml
Due: none

Refresh UI theme and navigation shell (#13)
  .github/workflows/ci-cd-pipeline.yml
  .pa11yci.json
  biome.json
  e2e/specs/organizer-onboarding.spec.ts
  src/app/(dashboard)/dashboard/admin/audit/page.tsx
  src/app/(dashboard)/dashboard/admin/overview/page.tsx
  src/app/(dashboard)/dashboard/competitions/[competitionId]/editions/new/section.tsx
  src/app/(dashboard)/dashboard/competitions/new/page.tsx
  src/app/(dashboard)/dashboard/editions/[editionId]/schedule/schedule-dashboard.tsx
  src/app/(dashboard)/dashboard/editions/[editionId]/scoreboard/scoreboard-control.tsx
  src/app/(dashboard)/dashboard/notifications/notifications-panel.tsx
  src/app/(dashboard)/dashboard/notifications/page.tsx
  src/app/(dashboard)/dashboard/teams/[teamId]/entries/entries-manager.tsx
  src/app/(dashboard)/dashboard/teams/[teamId]/roster/roster-manager.tsx
  src/app/(dashboard)/layout.tsx
  src/app/(public)/auth/organizer-signup/page.tsx
  src/app/(public)/competitions/[competitionSlug]/[editionSlug]/scoreboard/page.tsx
  src/app/config.css
  src/app/globals.css
  src/app/page.tsx
  src/lib/api/client.ts
  src/ui/components/badge.tsx
  src/ui/components/card.tsx
  src/ui/components/dashboard-header.tsx
  src/ui/components/input.tsx
  src/ui/components/label.tsx
  src/ui/components/navigation-links.tsx
  src/ui/components/page-hero.tsx
Due: typecheck

refactor(ui): standardize dashboard forms
  src/app/(dashboard)/dashboard/competitions/[competitionId]/editions/new/section.tsx
  src/app/(dashboard)/dashboard/competitions/new/page.tsx
  src/ui/components/form-field.tsx
  src/ui/components/scoreboard/theme-form.tsx
  src/ui/components/select.tsx
  src/ui/components/textarea.tsx
  src/ui/constants/timezones.ts
Due: typecheck

fix: allow autogenerated edition slugs
  src/app/(dashboard)/dashboard/competitions/[competitionId]/editions/new/section.tsx
  src/app/(dashboard)/dashboard/competitions/new/page.tsx
  src/ui/components/form-field.tsx
Due: typecheck

fix: persist scoreboard settings without new columns
  src/modules/competitions/service.ts
  src/modules/editions/service.ts
  src/modules/entries/service.ts
  src/modules/public/scoreboard-service.ts
  src/server/db/schema/competitions.ts
Due: typecheck

ci: bump Playwright container image
  .github/workflows/ci-cd-pipeline.yml
Due: none

docs: align edition_settings schema with storage
  specs/001-build-football-admin-app/data-model.md
Due: none

feat(iac): provision ses email infrastructure
  iac/locals.tf
  iac/main.tf
  iac/variables.tf
  specs/001-build-football-admin-app/quickstart.md
Due: terraform-fmt, tflint

fix(iac): add ses validations and scoped iam
  iac/main.tf
  iac/variables.tf
Due: terraform-fmt, tflint

fix(iac): use ses domain mail-from resource
  iac/main.tf
Due: terraform-fmt, tflint

fix(iac): avoid null coalesce in validations
  iac/variables.tf
Due: terraform-fmt, tflint

fix(iac): avoid null coalesce in locals
  iac/locals.tf
Due: terraform-fmt, tflint

fix(iac): avoid dynamic for_each for ses dkim records
  iac/main.tf
Due: terraform-fmt, tflint

feat(iac): add dmarc and ses event monitoring
  iac/locals.tf
  iac/main.tf
  iac/variables.tf
Due: terraform-fmt, tflint

chore(iac): apply managed security headers policy
  iac/main.tf
Due: terraform-fmt, tflint

feat(iac): use neon pooler and enforce ssl
  iac/main.tf
Due: terraform-fmt, tflint

fix: extend polling max age
  src/ui/hooks/useScoreboardPoll.tsx
Due: typecheck

feat: add christmas scoreboard theme
  src/ui/__tests__/scoreboard-landing.test.tsx
  src/ui/components/scoreboard/scoreboard-layout.tsx
Due: typecheck

feat: add seasonal scoreboard themes
  src/ui/components/scoreboard/scoreboard-layout.tsx
Due: typecheck

feat: send email for action updates
  src/app/api/auth/invitations/accept/route.ts
  src/app/api/editions/[editionId]/matches/bulk/route.ts
  src/app/api/entries/[entryId]/route.ts
  src/app/api/matches/[matchId]/disputes/route.ts
  src/app/api/matches/[matchId]/route.ts
  src/app/api/teams/[teamId]/entries/route.ts
  src/server/email/action-emails.ts
  src/server/email/email-utils.ts
  src/server/email/invitations.ts
  src/server/email/recipients.ts
  src/server/email/send-email.ts
  src/server/email/ses.ts
Due: typecheck

fix: remove missing access imports
  src/app/api/matches/[matchId]/disputes/route.ts
  src/app/api/teams/[teamId]/entries/route.ts
Due: typecheck

feat: enforce access rules in team and squad APIs
  src/app/api/competitions/[competitionId]/editions/route.ts
  src/app/api/entries/[entryId]/squads/route.ts
  src/app/api/squads/[squadId]/members/route.ts
  src/app/api/teams/[teamId]/members/route.ts
  src/app/api/teams/[teamId]/route.ts
  src/modules/entries/__tests__/unit/squad-membership.test.ts
  src/modules/entries/service.ts
  src/server/api/__tests__/access.test.ts
  src/server/api/access.ts
  src/server/api/handler.ts
  src/server/auth/index.ts
Due: typecheck

feat: email notifications for tournament actions (#17)
  src/app/api/auth/invitations/accept/route.ts
  src/app/api/editions/[editionId]/matches/bulk/route.ts
  src/app/api/entries/[entryId]/route.ts
  src/app/api/matches/[matchId]/disputes/route.ts
  src/app/api/matches/[matchId]/route.ts
  src/app/api/teams/[teamId]/entries/route.ts
  src/server/email/action-emails.ts
  src/server/email/email-utils.ts
  src/server/email/invitations.ts
  src/server/email/recipients.ts
  src/server/email/send-email.ts
  src/server/email/ses.ts
Due: typecheck

feat: enforce access rules in team and squad APIs (#18)
  src/app/api/competitions/[competitionId]/editions/route.ts
  src/app/api/entries/[entryId]/squads/route.ts
  src/app/api/squads/[squadId]/members/route.ts
  src/app/api/teams/[teamId]/members/route.ts
  src/app/api/teams/[teamId]/route.ts
  src/modules/entries/__tests__/unit/squad-membership.test.ts
  src/modules/entries/service.ts
  src/server/api/__tests__/access.test.ts
  src/server/api/access.ts
  src/server/api/handler.ts
  src/server/auth/index.ts
Due: typecheck

feat: add seed user env overrides
  scripts/seed.ts
Due: typecheck

feat: add seed user env overrides (#19)
  scripts/seed.ts
Due: typecheck

feat: refresh admin layout with sidebar
  src/app/(dashboard)/dashboard/competitions/[competitionId]/editions/new/section.tsx
  src/app/(dashboard)/dashboard/competitions/new/page.tsx
  src/app/(dashboard)/dashboard/editions/[editionId]/schedule/schedule-dashboard.tsx
  src/app/(dashboard)/dashboard/editions/[editionId]/scoreboard/scoreboard-control.tsx
  src/app/(dashboard)/dashboard/notifications/page.tsx
  src/app/(dashboard)/layout.tsx
  src/ui/components/dashboard-header.tsx
  src/ui/components/dashboard-sidebar.tsx
Due: typecheck

feat: add conditional admin nav on landing
  src/app/page.tsx
  src/server/auth/index.ts
Due: typecheck

feat: normalize admin surfaces for theme modes
  src/app/(dashboard)/dashboard/admin/overview/page.tsx
  src/app/(dashboard)/dashboard/competitions/[competitionId]/editions/new/section.tsx
  src/app/(dashboard)/dashboard/competitions/new/page.tsx
  src/app/(dashboard)/dashboard/editions/[editionId]/schedule/schedule-dashboard.tsx
  src/app/(dashboard)/dashboard/editions/[editionId]/scoreboard/scoreboard-control.tsx
  src/app/(dashboard)/dashboard/invitations/invitations-panel.tsx
  src/app/(dashboard)/dashboard/notifications/notifications-panel.tsx
  src/app/(dashboard)/dashboard/teams/[teamId]/entries/entries-manager.tsx
  src/app/(dashboard)/dashboard/teams/[teamId]/roster/roster-manager.tsx
  src/app/(public)/auth/invitations/[token]/accept-invitation-panel.tsx
  src/ui/components/scoreboard/theme-form.tsx
Due: typecheck

feat: add shared navbar and isolate scoreboard
  src/app/(public)/layout.tsx
  src/app/(scoreboard)/competitions/[competitionSlug]/[editionSlug]/scoreboard/page.tsx
  src/app/(scoreboard)/layout.tsx
  src/app/page.tsx
  src/ui/components/site-navbar.tsx
Due: typecheck

fix: remove demo-only dashboard links
  src/ui/components/navigation-links.tsx
Due: typecheck

feat: add site navbar to dashboard layout
  src/app/(dashboard)/layout.tsx
Due: typecheck
