Repository kennethaasan/tournament: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, terraform-fmt, tflint

typecheck:
  name: typescript --noEmit
  entry: npm run tsc
  language: system
  pass_filenames: false

terraform-fmt:
  name: terraform fmt
  entry: terraform fmt -check -recursive
  language: system
  pass_filenames: false

tflint:
  name: tflint
  entry: tflint --minimum-failure-severity=error
  language: system
  pass_filenames: false

feat: add AWS Lambda Powertools Metrics for CloudWatch observability (#29)
  .env.example
  iac/main.tf
  package-lock.json
  package.json
  src/env.ts
  src/lib/logger/powertools.ts
  src/server/api/handler.ts
Due: typecheck, terraform-fmt, tflint

feat: add business metrics for CloudWatch observability (free tier compliant)
  src/app/api/auth/invitations/accept/route.ts
  src/app/api/auth/invitations/route.ts
  src/app/api/competitions/route.ts
  src/app/api/matches/[matchId]/route.ts
  src/lib/logger/powertools.ts
  src/server/api/handler.ts
Due: typecheck

fix: prevent Route53 record recreation on every deploy
  .github/workflows/ci-cd-pipeline.yml
  iac/main.tf
Due: terraform-fmt, tflint

feat: add business metrics for CloudWatch observability (free tier compliant) (#30)
  .github/workflows/ci-cd-pipeline.yml
  iac/main.tf
  src/app/api/auth/invitations/accept/route.ts
  src/app/api/auth/invitations/route.ts
  src/app/api/competitions/route.ts
  src/app/api/matches/[matchId]/route.ts
  src/lib/logger/powertools.ts
  src/server/api/handler.ts
Due: typecheck, terraform-fmt, tflint

fix: add Powertools logging to better-auth routes for CloudWatch visibility
  src/app/api/auth/[...better-auth]/route.ts
Due: typecheck

fix: add Powertools logging to better-auth routes for CloudWatch visibility (#31)
  src/app/api/auth/[...better-auth]/route.ts
Due: typecheck

fix: add x-amz-content-sha256 header to auth requests for CloudFront OAC
  src/lib/api/amz-content-sha256.ts
  src/lib/auth-client.ts
Due: typecheck

fix: add x-amz-content-sha256 header to auth requests for CloudFront OAC (#32)
  src/lib/api/amz-content-sha256.ts
  src/lib/auth-client.ts
Due: typecheck

feat: add venues, results admin, and scoreboard tables
  openapi.yaml
  src/app/(dashboard)/dashboard/competitions/[competitionId]/page.tsx
  src/app/(dashboard)/dashboard/competitions/[competitionId]/venues/page.tsx
  src/app/(dashboard)/dashboard/competitions/[competitionId]/venues/venues-panel.tsx
  src/app/(dashboard)/dashboard/editions/[editionId]/results/page.tsx
  src/app/(dashboard)/dashboard/editions/[editionId]/results/results-dashboard.tsx
  src/app/(dashboard)/dashboard/editions/[editionId]/schedule/schedule-dashboard.tsx
  src/app/api/competitions/[competitionId]/venues/route.ts
  src/app/api/editions/[editionId]/matches/route.ts
  src/app/api/editions/[editionId]/venues/route.ts
  src/app/api/venues/[venueId]/route.ts
  src/lib/api/generated/openapi.ts
  src/lib/api/matches-client.ts
  src/lib/api/venues-client.ts
  src/modules/public/scoreboard-service.ts
  src/modules/public/scoreboard-types.ts
  src/ui/__tests__/scoreboard-landing.test.tsx
  src/ui/components/scoreboard/scoreboard-layout.tsx
Due: typecheck

feat(results): add match events and match metadata
  openapi.yaml
  src/app/(dashboard)/dashboard/editions/[editionId]/results/results-dashboard.tsx
  src/app/api/matches/[matchId]/route.ts
  src/app/api/squads/[squadId]/members/route.ts
  src/lib/api/generated/openapi.ts
  src/lib/api/matches-client.ts
  src/lib/api/squads-client.ts
  src/modules/public/scoreboard-service.ts
  src/ui/components/scoreboard/scoreboard-layout.tsx
Due: typecheck

feat: venues, results admin, scoreboard tables (#33)
  openapi.yaml
  src/app/(dashboard)/dashboard/competitions/[competitionId]/page.tsx
  src/app/(dashboard)/dashboard/competitions/[competitionId]/venues/page.tsx
  src/app/(dashboard)/dashboard/competitions/[competitionId]/venues/venues-panel.tsx
  src/app/(dashboard)/dashboard/editions/[editionId]/results/page.tsx
  src/app/(dashboard)/dashboard/editions/[editionId]/results/results-dashboard.tsx
  src/app/(dashboard)/dashboard/editions/[editionId]/schedule/schedule-dashboard.tsx
  src/app/api/competitions/[competitionId]/venues/route.ts
  src/app/api/editions/[editionId]/matches/route.ts
  src/app/api/editions/[editionId]/venues/route.ts
  src/app/api/matches/[matchId]/route.ts
  src/app/api/squads/[squadId]/members/route.ts
  src/app/api/venues/[venueId]/route.ts
  src/lib/api/generated/openapi.ts
  src/lib/api/matches-client.ts
  src/lib/api/squads-client.ts
  src/lib/api/venues-client.ts
  src/modules/public/scoreboard-service.ts
  src/modules/public/scoreboard-types.ts
  src/ui/__tests__/scoreboard-landing.test.tsx
  src/ui/components/scoreboard/scoreboard-layout.tsx
Due: typecheck

test: improve coverage for scoreboard
  src/modules/public/__tests__/unit/scoreboard-service.test.ts
  src/ui/__tests__/accessibility.test.tsx
  vitest.config.ts
Due: typecheck

test: add coverage for services and pages
  src/app/__tests__/pages-smoke.test.tsx
  src/lib/errors/__tests__/problem.test.ts
  src/modules/public/__tests__/unit/scoreboard-types.test.ts
  src/modules/teams/__tests__/unit/service.test.ts
  src/server/auth/__tests__/auth.test.ts
  vitest.config.ts
Due: typecheck

test: add critical path coverage
  src/app/(dashboard)/dashboard/editions/__tests__/edition-dashboards.test.tsx
  src/app/__tests__/pages-smoke.test.tsx
  src/app/api/__tests__/bulk-matches-route.test.ts
  src/app/api/__tests__/invitations-route.test.ts
  src/app/api/__tests__/matches-route.test.ts
  src/app/api/__tests__/venues-route.test.ts
  src/lib/api/amz-content-sha256.test.ts
  src/lib/errors/__tests__/problem.test.ts
  src/modules/editions/__tests__/integration/service.test.ts
  src/modules/entries/__tests__/integration/service.test.ts
  src/modules/identity/__tests__/integration/service.test.ts
  src/modules/public/__tests__/unit/scoreboard-service.test.ts
  src/modules/public/__tests__/unit/scoreboard-types.test.ts
  src/modules/teams/__tests__/unit/service.test.ts
  src/server/api/__tests__/access.test.ts
  src/server/api/__tests__/edition-access.test.ts
  src/server/api/__tests__/handler.test.ts
  src/server/api/__tests__/rate-limit.test.ts
  src/server/api/__tests__/responses.test.ts
  src/server/auth/__tests__/auth.test.ts
  src/server/email/__tests__/action-emails.test.ts
  src/server/email/__tests__/email-utils.test.ts
  src/server/email/__tests__/invitations.test.ts
  src/server/email/__tests__/send-email.test.ts
  src/server/email/__tests__/ses.test.ts
  src/test/setup.ts
  src/ui/__tests__/scoreboard-landing.test.tsx
  src/ui/components/__tests__/auth-action.test.tsx
  src/ui/hooks/__tests__/use-scoreboard-poll.test.tsx
  src/ui/providers/__tests__/query-client.test.tsx
Due: typecheck

test: cover api client unwrap
  src/lib/api/__tests__/client.test.ts
Due: typecheck

test: cover api origin enforcement
  src/server/api/__tests__/handler-origin.test.ts
Due: typecheck

test: cover auth session resolution
  src/server/auth/__tests__/session.test.ts
Due: typecheck

test: add teams service integration coverage
  src/modules/teams/__tests__/integration/service.test.ts
Due: typecheck

test: cover api client wrappers and health route
  src/app/api/health/__tests__/route.test.ts
  src/lib/api/__tests__/client-wrappers.test.ts
Due: typecheck

fix: support placeholders and roster names
  openapi.yaml
  src/app/api/editions/[editionId]/matches/route.ts
  src/app/api/matches/[matchId]/route.ts
  src/app/api/teams/[teamId]/members/route.ts
  src/app/api/teams/[teamId]/route.ts
  src/lib/api/generated/openapi.ts
  src/modules/matches/placeholder.ts
  src/modules/public/__tests__/unit/scoreboard-service.test.ts
  src/modules/public/scoreboard-service.ts
  src/modules/public/scoreboard-types.ts
  src/ui/components/scoreboard/scoreboard-layout.tsx
  src/ui/hooks/useScoreboardPoll.tsx
Due: typecheck

test: improve coverage for scoreboard (#34)
  src/app/(dashboard)/dashboard/editions/__tests__/edition-dashboards.test.tsx
  src/app/__tests__/pages-smoke.test.tsx
  src/app/api/__tests__/bulk-matches-route.test.ts
  src/app/api/__tests__/invitations-route.test.ts
  src/app/api/__tests__/matches-route.test.ts
  src/app/api/__tests__/venues-route.test.ts
  src/app/api/health/__tests__/route.test.ts
  src/lib/api/__tests__/client-wrappers.test.ts
  src/lib/api/__tests__/client.test.ts
  src/lib/api/amz-content-sha256.test.ts
  src/lib/errors/__tests__/problem.test.ts
  src/modules/editions/__tests__/integration/service.test.ts
  src/modules/entries/__tests__/integration/service.test.ts
  src/modules/identity/__tests__/integration/service.test.ts
  src/modules/public/__tests__/unit/scoreboard-service.test.ts
  src/modules/public/__tests__/unit/scoreboard-types.test.ts
  src/modules/teams/__tests__/integration/service.test.ts
  src/modules/teams/__tests__/unit/service.test.ts
  src/server/api/__tests__/access.test.ts
  src/server/api/__tests__/edition-access.test.ts
  src/server/api/__tests__/handler-origin.test.ts
  src/server/api/__tests__/handler.test.ts
  src/server/api/__tests__/rate-limit.test.ts
  src/server/api/__tests__/responses.test.ts
  src/server/auth/__tests__/auth.test.ts
  src/server/auth/__tests__/session.test.ts
  src/server/email/__tests__/action-emails.test.ts
  src/server/email/__tests__/email-utils.test.ts
  src/server/email/__tests__/invitations.test.ts
  src/server/email/__tests__/send-email.test.ts
  src/server/email/__tests__/ses.test.ts
  src/test/setup.ts
  src/ui/__tests__/accessibility.test.tsx
  src/ui/__tests__/scoreboard-landing.test.tsx
  src/ui/components/__tests__/auth-action.test.tsx
  src/ui/hooks/__tests__/use-scoreboard-poll.test.tsx
  src/ui/providers/__tests__/query-client.test.tsx
  vitest.config.ts
Due: typecheck

test: cover placeholders, roster names, outcome updates
  src/app/api/__tests__/matches-route.test.ts
  src/app/api/__tests__/teams-route.test.ts
  src/modules/public/__tests__/unit/scoreboard-service.test.ts
Due: typecheck

Support placeholders and outcome recalculation (#35)
  openapi.yaml
  src/app/api/__tests__/matches-route.test.ts
  src/app/api/__tests__/teams-route.test.ts
  src/app/api/editions/[editionId]/matches/route.ts
  src/app/api/matches/[matchId]/route.ts
  src/app/api/teams/[teamId]/members/route.ts
  src/app/api/teams/[teamId]/route.ts
  src/lib/api/generated/openapi.ts
  src/modules/matches/placeholder.ts
  src/modules/public/__tests__/unit/scoreboard-service.test.ts
  src/modules/public/scoreboard-service.ts
  src/modules/public/scoreboard-types.ts
  src/ui/components/scoreboard/scoreboard-layout.tsx
  src/ui/hooks/useScoreboardPoll.tsx
Due: typecheck

feat: refine scoreboard display and route params
  src/app/(dashboard)/dashboard/competitions/[competitionId]/editions/new/page.tsx
  src/app/(dashboard)/dashboard/competitions/[competitionId]/page.tsx
  src/app/(dashboard)/dashboard/competitions/[competitionId]/venues/page.tsx
  src/app/(dashboard)/dashboard/editions/[editionId]/results/page.tsx
  src/app/(dashboard)/dashboard/editions/[editionId]/schedule/page.tsx
  src/app/(dashboard)/dashboard/editions/[editionId]/scoreboard/page.tsx
  src/app/(dashboard)/dashboard/teams/[teamId]/entries/page.tsx
  src/app/(dashboard)/dashboard/teams/[teamId]/roster/page.tsx
  src/app/(public)/auth/invitations/[token]/page.tsx
  src/app/__tests__/pages-smoke.test.tsx
  src/ui/components/scoreboard/scoreboard-layout.tsx
Due: typecheck

feat: refine scoreboard display and route params (#36)
  src/app/(dashboard)/dashboard/competitions/[competitionId]/editions/new/page.tsx
  src/app/(dashboard)/dashboard/competitions/[competitionId]/page.tsx
  src/app/(dashboard)/dashboard/competitions/[competitionId]/venues/page.tsx
  src/app/(dashboard)/dashboard/editions/[editionId]/results/page.tsx
  src/app/(dashboard)/dashboard/editions/[editionId]/schedule/page.tsx
  src/app/(dashboard)/dashboard/editions/[editionId]/scoreboard/page.tsx
  src/app/(dashboard)/dashboard/teams/[teamId]/entries/page.tsx
  src/app/(dashboard)/dashboard/teams/[teamId]/roster/page.tsx
  src/app/(public)/auth/invitations/[token]/page.tsx
  src/app/__tests__/pages-smoke.test.tsx
  src/ui/components/scoreboard/scoreboard-layout.tsx
Due: typecheck

fix: hide empty scheduled scores
  src/ui/components/scoreboard/scoreboard-layout.tsx
Due: typecheck

fix: label best runner-up placeholders
  historical-tournaments/seeds/vanvikan-julecup-2025.json
Due: none

fix: limit public upcoming matches
  src/ui/components/scoreboard/scoreboard-layout.tsx
Due: typecheck

fix: address ci build errors
  historical-tournaments/seeds/vanvikan-julecup-2024.json
  scripts/seed.ts
  src/app/api/editions/[editionId]/matches/route.ts
Due: typecheck

fix(scoreboard): show full schedule and hide empty scores
  src/ui/components/scoreboard/scoreboard-layout.tsx
Due: typecheck

fix(scoreboard): hide empty live section
  src/ui/components/scoreboard/scoreboard-layout.tsx
Due: typecheck

fix(scoreboard): show full schedule and hide empty upcoming scores (#39)
  src/ui/components/scoreboard/scoreboard-layout.tsx
Due: typecheck

refactor(iac): manage ACM validation records directly
  iac/main.tf
Due: terraform-fmt, tflint

chore(ci): remove obsolete Route53 migration step
  .github/workflows/ci-cd-pipeline.yml
Due: none

fix(iac): remove kms encryption from ses events sns topic
  iac/main.tf
Due: terraform-fmt, tflint

feat(iac): support extra domains and https trusted origins
  .env.example
  iac/locals.tf
  iac/main.tf
  iac/variables.tf
Due: terraform-fmt, tflint

fix(iac): build trusted origins with concat
  iac/locals.tf
Due: terraform-fmt, tflint

chore(iac): terraform fmt
  iac/main.tf
Due: terraform-fmt, tflint

Path conditions:
  typecheck: any of: \.(ts|tsx)$
  terraform-fmt: any of: ^iac/.*\.tf$
  tflint: any of: ^iac/
