Repository kennethaasan/tournament: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck, terraform-fmt, tflint

typecheck:
  name: typescript --noEmit
  entry: npm run tsc
  language: system
  pass_filenames: false

terraform-fmt:
  name: terraform fmt
  entry: terraform fmt -check -recursive
  language: system
  pass_filenames: false

tflint:
  name: tflint
  entry: tflint --minimum-failure-severity=error
  language: system
  pass_filenames: false

docs: remove Route53 references from documentation and variable descriptions
  iac/variables.tf
  specs/001-build-football-admin-app/quickstart.md
Due: terraform-fmt, tflint

feat(infra): final cleanup of Route53 logic (#50)
  iac/locals.tf
  iac/main.tf
  iac/variables.tf
  specs/001-build-football-admin-app/quickstart.md
Due: terraform-fmt, tflint

chore(iac): harden SES SNS topic policy with SourceArn condition
  iac/locals.tf
  iac/main.tf
Due: terraform-fmt, tflint

chore(iac): harden SES SNS topic policy with SourceArn condition (#51)
  iac/locals.tf
  iac/main.tf
Due: terraform-fmt, tflint

chore(iac): upgrade AWS provider to ~> 6.21 for nodejs24.x support
  iac/versions.tf
Due: terraform-fmt, tflint

chore(iac): upgrade AWS provider to ~> 6.21 for nodejs24.x support (#52)
  iac/versions.tf
Due: terraform-fmt, tflint

chore: add Node.js 24 engines constraint
  package.json
Due: none

test: increase test coverage to meet 50% threshold
  AGENTS.md
  src/lib/__tests__/client.test.ts
  src/lib/__tests__/colors.test.ts
  src/lib/errors/__tests__/problem.test.ts
  src/modules/admin/__tests__/service.test.ts
  src/modules/competitions/__tests__/unit/service.test.ts
  src/modules/matches/__tests__/placeholder.test.ts
  src/modules/public/__tests__/unit/scoreboard-service.test.ts
  src/modules/public/__tests__/unit/scoreboard-types.test.ts
  src/modules/scheduling/__tests__/unit/bracket-service.test.ts
  src/modules/scheduling/__tests__/unit/round-robin-service.test.ts
  src/server/api/__tests__/access.test.ts
  src/server/api/__tests__/handler-origin.test.ts
  src/server/api/__tests__/handler.test.ts
  src/server/api/__tests__/rate-limit.test.ts
  src/server/api/__tests__/responses.test.ts
  src/server/auth/__tests__/auth.test.ts
  src/server/email/__tests__/action-emails.test.ts
  src/server/email/__tests__/email-utils.test.ts
  src/server/email/__tests__/invitations.test.ts
  src/server/email/__tests__/recipients.test.ts
  src/server/email/__tests__/ses.test.ts
  src/ui/components/__tests__/dashboard-header.test.tsx
  src/ui/components/__tests__/dashboard-sidebar.test.tsx
  src/ui/components/__tests__/dialog.test.tsx
  src/ui/components/__tests__/navigation-links.test.tsx
  src/ui/components/__tests__/page-hero.test.tsx
  src/ui/components/__tests__/sign-out-button.test.tsx
  src/ui/components/__tests__/theme-toggle.test.tsx
  src/ui/components/scoreboard/__tests__/scoreboard-backdrop.test.tsx
  src/ui/components/scoreboard/__tests__/scoreboard-controls.test.tsx
  src/ui/components/scoreboard/__tests__/scoreboard-hooks.test.tsx
  src/ui/components/scoreboard/__tests__/scoreboard-landing.test.tsx
  src/ui/components/scoreboard/__tests__/scoreboard-screen.test.tsx
  src/ui/components/scoreboard/__tests__/scoreboard-shared.test.tsx
  src/ui/components/scoreboard/__tests__/scoreboard-utils.test.ts
  src/ui/components/scoreboard/__tests__/theme-form.test.tsx
  src/ui/hooks/__tests__/use-scoreboard-poll.test.tsx
  src/ui/providers/__tests__/theme-provider.test.tsx
Due: typecheck

fix: resolve TypeScript and lint errors in test files
  src/modules/admin/__tests__/service.test.ts
  src/server/email/__tests__/invitations.test.ts
  src/ui/components/__tests__/dialog.test.tsx
  src/ui/components/__tests__/navigation-links.test.tsx
  src/ui/components/__tests__/page-hero.test.tsx
  src/ui/components/__tests__/sign-out-button.test.tsx
  src/ui/components/scoreboard/__tests__/scoreboard-landing.test.tsx
  src/ui/components/scoreboard/__tests__/scoreboard-screen.test.tsx
  src/ui/components/scoreboard/__tests__/theme-form.test.tsx
Due: typecheck

test: increase test coverage to meet 50% threshold (#53)
  AGENTS.md
  src/lib/__tests__/client.test.ts
  src/lib/__tests__/colors.test.ts
  src/lib/errors/__tests__/problem.test.ts
  src/modules/admin/__tests__/service.test.ts
  src/modules/competitions/__tests__/unit/service.test.ts
  src/modules/matches/__tests__/placeholder.test.ts
  src/modules/public/__tests__/unit/scoreboard-service.test.ts
  src/modules/public/__tests__/unit/scoreboard-types.test.ts
  src/modules/scheduling/__tests__/unit/bracket-service.test.ts
  src/modules/scheduling/__tests__/unit/round-robin-service.test.ts
  src/server/api/__tests__/access.test.ts
  src/server/api/__tests__/handler-origin.test.ts
  src/server/api/__tests__/handler.test.ts
  src/server/api/__tests__/rate-limit.test.ts
  src/server/api/__tests__/responses.test.ts
  src/server/auth/__tests__/auth.test.ts
  src/server/email/__tests__/action-emails.test.ts
  src/server/email/__tests__/email-utils.test.ts
  src/server/email/__tests__/invitations.test.ts
  src/server/email/__tests__/recipients.test.ts
  src/server/email/__tests__/ses.test.ts
  src/ui/components/__tests__/dashboard-header.test.tsx
  src/ui/components/__tests__/dashboard-sidebar.test.tsx
  src/ui/components/__tests__/dialog.test.tsx
  src/ui/components/__tests__/navigation-links.test.tsx
  src/ui/components/__tests__/page-hero.test.tsx
  src/ui/components/__tests__/sign-out-button.test.tsx
  src/ui/components/__tests__/theme-toggle.test.tsx
  src/ui/components/scoreboard/__tests__/scoreboard-backdrop.test.tsx
  src/ui/components/scoreboard/__tests__/scoreboard-controls.test.tsx
  src/ui/components/scoreboard/__tests__/scoreboard-hooks.test.tsx
  src/ui/components/scoreboard/__tests__/scoreboard-landing.test.tsx
  src/ui/components/scoreboard/__tests__/scoreboard-screen.test.tsx
  src/ui/components/scoreboard/__tests__/scoreboard-shared.test.tsx
  src/ui/components/scoreboard/__tests__/scoreboard-utils.test.ts
  src/ui/components/scoreboard/__tests__/theme-form.test.tsx
  src/ui/hooks/__tests__/use-scoreboard-poll.test.tsx
  src/ui/providers/__tests__/theme-provider.test.tsx
Due: typecheck

chore: remove specify artifacts
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  biome.json
  specs/001-build-football-admin-app/plan.md
  specs/001-build-football-admin-app/prompts.md
Due: none

chore: remove specify tooling artifacts (#54)
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  biome.json
  specs/001-build-football-admin-app/plan.md
  specs/001-build-football-admin-app/prompts.md
Due: none

chore: resolve spectral warnings
  openapi.yaml
Due: none

chore: update api contact
  openapi.yaml
Due: none

chore: align OpenAPI with OWASP spectral rules
  .spectral.yaml
  openapi.yaml
  package-lock.json
  package.json
  spectral/owasp-api-governance/.spectral.yaml
  spectral/owasp-api-governance/governance-rules/governance-rules.yaml
  src/lib/api/generated/openapi.ts
  tsconfig.json
Due: typecheck

Align OpenAPI with OWASP Spectral rules (#55)
  .spectral.yaml
  openapi.yaml
  package-lock.json
  package.json
  spectral/owasp-api-governance/.spectral.yaml
  spectral/owasp-api-governance/governance-rules/governance-rules.yaml
  src/lib/api/generated/openapi.ts
  tsconfig.json
Due: typecheck

refactor: DRY OpenAPI responses with YAML anchors
  openapi.yaml
  src/lib/api/generated/openapi.ts
Due: typecheck

refactor: DRY OpenAPI responses with YAML anchors (#56)
  openapi.yaml
  src/lib/api/generated/openapi.ts
Due: typecheck

refactor: remove explicit any and casts
  biome.json
  src/test/setup.ts
  src/ui/__tests__/accessibility.test.tsx
  tsconfig.json
Due: typecheck

refactor: remove explicit any and casts (#57)
  biome.json
  src/test/setup.ts
  src/ui/__tests__/accessibility.test.tsx
  tsconfig.json
Due: typecheck

fix(iac): allow ses:SendEmail on configuration set resource
  iac/main.tf
Due: terraform-fmt, tflint

fix(iac): allow ses:SendEmail on configuration set resource (#58)
  iac/main.tf
Due: terraform-fmt, tflint

feat(scoreboard): add extra time and penalty shootout statuses
  drizzle/0002_steep_ma_gnuci.sql
  drizzle/meta/0002_snapshot.json
  drizzle/meta/_journal.json
  openapi.yaml
  src/lib/api/generated/openapi.ts
  src/modules/public/__tests__/unit/scoreboard-service.test.ts
  src/modules/public/scoreboard-service.ts
  src/server/db/schema/shared.ts
  src/ui/components/scoreboard/__tests__/scoreboard-utils.test.ts
  src/ui/components/scoreboard/scoreboard-landing.tsx
  src/ui/components/scoreboard/scoreboard-screen.tsx
  src/ui/components/scoreboard/scoreboard-shared.tsx
  src/ui/components/scoreboard/scoreboard-utils.ts
Due: typecheck

chore: format generated openapi types
  src/lib/api/generated/openapi.ts
Due: typecheck

feat(scoreboard): add extra time and penalty shootout statuses (#59)
  drizzle/0002_steep_ma_gnuci.sql
  drizzle/meta/0002_snapshot.json
  drizzle/meta/_journal.json
  openapi.yaml
  src/lib/api/generated/openapi.ts
  src/modules/public/__tests__/unit/scoreboard-service.test.ts
  src/modules/public/scoreboard-service.ts
  src/server/db/schema/shared.ts
  src/ui/components/scoreboard/__tests__/scoreboard-utils.test.ts
  src/ui/components/scoreboard/scoreboard-landing.tsx
  src/ui/components/scoreboard/scoreboard-screen.tsx
  src/ui/components/scoreboard/scoreboard-shared.tsx
  src/ui/components/scoreboard/scoreboard-utils.ts
Due: typecheck

refactor(ui): use react-hook-form and zod for new forms - Add shadcn Form component - Refactor manual match creation form - Refactor create team form
  package-lock.json
  package.json
  src/app/(dashboard)/dashboard/editions/[editionId]/schedule/schedule-dashboard.tsx
  src/app/(dashboard)/dashboard/editions/[editionId]/teams/teams-dashboard.tsx
  src/ui/components/form.tsx
Due: typecheck

feat(scheduling): Manual match creation and team management (#60)
  openapi.yaml
  package-lock.json
  package.json
  src/app/(dashboard)/dashboard/editions/[editionId]/schedule/schedule-dashboard.tsx
  src/app/(dashboard)/dashboard/editions/[editionId]/teams/teams-dashboard.tsx
  src/app/api/__tests__/matches-creation.test.ts
  src/app/api/editions/[editionId]/matches/route.ts
  src/lib/api/generated/openapi.ts
  src/lib/api/matches-client.ts
  src/lib/api/teams-client.ts
  src/ui/components/form.tsx
Due: typecheck

feat: migrate schedule forms to react-hook-form and zod
  src/app/(dashboard)/dashboard/editions/[editionId]/schedule/create-stage-form.tsx
  src/app/(dashboard)/dashboard/editions/[editionId]/schedule/generate-matches-form.tsx
  src/app/(dashboard)/dashboard/editions/[editionId]/schedule/schedule-dashboard.tsx
Due: typecheck

fix(lint): suppress noExplicitAny in form resolver
  src/app/(dashboard)/dashboard/editions/[editionId]/schedule/generate-matches-form.tsx
Due: typecheck

fix(email): use server-side BETTER_AUTH_URL for email links
  src/app/api/auth/invitations/route.ts
  src/server/email/action-emails.ts
Due: typecheck

feat: migrate schedule forms to react-hook-form and zod (#62)
  src/app/(dashboard)/dashboard/editions/[editionId]/schedule/create-stage-form.tsx
  src/app/(dashboard)/dashboard/editions/[editionId]/schedule/generate-matches-form.tsx
  src/app/(dashboard)/dashboard/editions/[editionId]/schedule/schedule-dashboard.tsx
Due: typecheck

fix(iac): strip trailing dots from ACM validation records
  iac/locals.tf
Due: terraform-fmt, tflint

fix(auth): map better-auth name field to fullName column
  src/server/auth/__tests__/sign-up.test.ts
  src/server/auth/index.ts
Due: typecheck

feat(scoreboard): display competition name in addition to edition name
  openapi.yaml
  src/app/__tests__/pages-smoke.test.tsx
  src/lib/api/generated/openapi.ts
  src/modules/public/__tests__/unit/scoreboard-service.test.ts
  src/modules/public/__tests__/unit/scoreboard-types.test.ts
  src/modules/public/scoreboard-service.ts
  src/modules/public/scoreboard-types.ts
  src/ui/__tests__/scoreboard-landing.test.tsx
  src/ui/components/scoreboard/__tests__/scoreboard-landing.test.tsx
  src/ui/components/scoreboard/scoreboard-layout.tsx
  src/ui/hooks/__tests__/use-scoreboard-poll.test.tsx
Due: typecheck

fix(e2e): update scoreboard tests to check for competition name
  e2e/specs/dashboard/access-control.spec.ts
  e2e/specs/scoreboard.spec.ts
Due: typecheck

feat(editions): add dedicated edition settings page with format and registration controls
  openapi.yaml
  src/app/(dashboard)/dashboard/competitions/[competitionId]/page.tsx
  src/app/(dashboard)/dashboard/editions/[editionId]/edition-dashboard.tsx
  src/app/(dashboard)/dashboard/editions/[editionId]/page.tsx
  src/app/api/editions/[editionId]/route.ts
  src/lib/api/generated/openapi.ts
  src/lib/api/teams-client.ts
  src/modules/editions/service.ts
  src/modules/teams/__tests__/contracts/team-entry.contract.test.ts
Due: typecheck

feat: add delete functionality for entries and stages and fix client tests
  openapi.yaml
  src/app/(dashboard)/dashboard/editions/[editionId]/schedule/schedule-dashboard.tsx
  src/app/api/editions/[editionId]/stages/[stageId]/route.ts
  src/app/api/entries/[entryId]/route.ts
  src/lib/api/__tests__/client-wrappers.test.ts
  src/lib/api/entries-client.ts
  src/lib/api/generated/openapi.ts
  src/lib/api/stages-client.ts
  src/modules/editions/service.ts
  src/modules/entries/service.ts
  vitest.config.ts
Due: typecheck

fix: sync form state with prop changes and fix timezone handling
  src/app/(dashboard)/dashboard/editions/[editionId]/edition-dashboard.tsx
  src/app/(dashboard)/dashboard/editions/[editionId]/schedule/schedule-dashboard.tsx
Due: typecheck

test: fix flaky formatCountdown test and add service coverage tests
  src/modules/editions/__tests__/integration/service.test.ts
  src/modules/entries/__tests__/integration/service.test.ts
  src/ui/components/scoreboard/__tests__/scoreboard-utils.test.ts
Due: typecheck

feat(editions): add dedicated edition settings page with format and registration controls (#63)
  openapi.yaml
  src/app/(dashboard)/dashboard/competitions/[competitionId]/page.tsx
  src/app/(dashboard)/dashboard/editions/[editionId]/edition-dashboard.tsx
  src/app/(dashboard)/dashboard/editions/[editionId]/page.tsx
  src/app/(dashboard)/dashboard/editions/[editionId]/schedule/schedule-dashboard.tsx
  src/app/api/editions/[editionId]/route.ts
  src/app/api/editions/[editionId]/stages/[stageId]/route.ts
  src/app/api/entries/[entryId]/route.ts
  src/lib/api/__tests__/client-wrappers.test.ts
  src/lib/api/entries-client.ts
  src/lib/api/generated/openapi.ts
  src/lib/api/stages-client.ts
  src/lib/api/teams-client.ts
  src/modules/editions/__tests__/integration/service.test.ts
  src/modules/editions/service.ts
  src/modules/entries/__tests__/integration/service.test.ts
  src/modules/entries/service.ts
  src/modules/teams/__tests__/contracts/team-entry.contract.test.ts
  src/ui/components/scoreboard/__tests__/scoreboard-utils.test.ts
  vitest.config.ts
Due: typecheck

Path conditions:
  typecheck: any of: \.(ts|tsx)$
  terraform-fmt: any of: ^iac/.*\.tf$
  tflint: any of: ^iac/
